@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
  margin:0;
  box-sizing: border-box;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #336ff1 0.89%,
    #650cf5 17.23%,
    #0b0f0f 42.04%,
    #984ec9 55.12%,
    #002fff 71.54%,
    #741ce7 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.navbarbg{
  background: rgb(224,242,244);
background: linear-gradient(90deg, rgba(224,242,244,1) 11%, rgba(252,253,255,1) 51%, rgba(242,193,247,1) 100%);
}

.herobg {
  background: rgb(221,220,250);
  background: linear-gradient(90deg, rgba(221,220,250,1) 0%, rgba(246,246,246,1) 35%, rgba(203,246,255,1) 100%);
}

.blockchainbg{
  background: rgb(240,182,244);
  background: radial-gradient(circle, rgba(240,182,244,1) 0%, rgba(246,246,246,1) 35%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 53%, rgba(203,246,255,1) 100%);
}


.btn {
  border: none;
  width: 12em;
  height: 4em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1C1A1C;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #AAAAAA;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #AAAAAA;
  font-size: medium;
}

.btn:hover {
  background: linear-gradient(0deg,#A47CF3,#683FEA);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2),
  0px 0px 180px 0px #9917FF;
  transform: translateY(-2px);
}

.btn:hover .text {
  color: white;
}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1);
} 



/* ScrollingText.css */
.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.scrolling-text-container {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.scrolling-text {
  display: inline-block;
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}



